.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #388f2a;
  padding: 10px 10px;

  .logo {
    width: 60px;
    height: 60px;
    object-fit: contain;
  }

  .sosial-wrapper {
    display: flex;
    .icon-wrapper {
      background-color: white;
      padding: 10px;
      border-radius: 40px;
      margin: 0px 10px;
    }

    .icon-medsos {
      width: 35px;
      height: 30px;
      object-fit: contain;
      cursor: pointer;
    }
  }
}
.copyright {
  background-color: #2a6e20;
  padding: 5px 0px;
  p {
    font-size: 14px;
    color: white;
    text-align: center;
    margin: 0px;
  }
}
